@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  font-family: 'Roboto', sans-serif;
}

.remove-btn{
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

/* CSS for NotFound.js */

.container {
  position: relative;
  width: 100%;
}

img.notfound {
  width: 100%;
  height: auto;
}

.home-btn {
  position: absolute;
  top: 70%;
  left: 7%;
  background-color: #350074;
  color: #FFF !important;
  padding: .5rem;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.home-btn:hover {
  background-color: black;
}

.home-btn a {
  color: #FFF !important;
  text-decoration: none;
}

.btn {
  background-color: #350074;
  color: white;
}

.cards {
   display: flex;
   justify-content: space-between;
}

img {
  width: 400px;
}

.gplus {
  padding: .5rem;
	border-radius: 2px;
	background-color: #4285f4;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
	color: #FFF;
}
